/* div {
    background-color: rgb(81, 81, 81);
    border-style: solid;
    border-width: 5px;
    border-color: rgb(255, 0, 0);
} */
/* tr {
    border-style: solid; 
    border-width: 5px;
    border-color: red; 
}  */
/* td {
    border-style: solid;
    border-width: 5px;
    border-color: red;
    background-color: rgb(81, 81, 81);
} */
#header {
    position: absolute;
    left: 0px;
    right: 0px;
}
.headerBar {
    position: absolute;
    height: 75px;
    top: 0px;
    /* left: 0px; */
    /* right: 0px; */
    /* display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: center;
    text-align: center; */
    text-align: center;
    line-height: 75px;
    align-items: center;
}
#headerLogo {
    left: 0px;
    width: 75px;
}
#header1 {
    left: 75px;
    width: 150px;
    color: rgba(0,114,198,255);
}
#header2 {
    left: 225px;
    width: 150px;
    color: rgba(0,114,198,255);
}
#header3 {
    left: 375px;
    width: 150px;
    color: rgba(0,114,198,255);
}
#header4 {
    left: 525px;
    width: 150px;
    color: rgba(0,114,198,255);
}
#header5 {
    left: 675px;
    width: 150px;
    color: rgba(0,114,198,255);
}
.headerBar input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    font-size: 17px;
    width: 100%;
    height: 100%;
    /* background-color: rgb(81, 81, 81); */
    color: rgba(0,114,198,255);
    border-style: solid;
    border-color: rgba(0,114,198,255);
}
::placeholder {
    color: rgba(0,114,198,255);
}
#searchBox {
    position: absolute;
    top: 0px;
    height: 75px;
    right: 0px;
    width: 200px;
}
#headerDivider {
    position: absolute;
    top: 100px;
}