body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #335cad;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .Testpage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
}

.InvTable {
  border: 2px solid green;
  position: absolute;
  background: lightblue;
  width: 90vw;
  left: 5vw;
  top: 0px;
  margin-top: 20px;
} */

/* .InvRow {
  width: 100%;
} */

/* td {
  border: 2px solid salmon;
} */

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

div#bigtablething {
  margin: 10px;
}

.productbuttons {
  background: white;
  border: 0px;
  margin: 5px;
  padding: 10px;
}

.productbuttons:hover {
  /* background: #e6e6e6; */
  border: 3px solid #ffcc00;
  margin: 2px;
}

.propreview {
  color: black;
  font-size: 14px;
}

input#mmmm {
  margin-bottom: 10px;
}

button#orderbuttons {
  background: #002e8a;
  border: 0px;
  margin: 2px;
  width: 223px;
}

button#orderbuttons:hover {
  background: #00297a;
}

h4#button2 {
  color: #ffcc00;
  margin: 5px;
  font-size: 18.72px;
}

.detailimg {
  width: 300px;
}